

<div class="container">
  <img src="../../../assets/images/oficina_typsa.bmp" usemap="#image-map">

  <map name="image-map">
    <area target="_self" alt="Pablo_Lopez" title="Pablo_Lopez" href="Despacho_1" coords="17,15,17,149,152,150,151,16" shape="poly">
    <area target="_self" alt="Iria" title="Iria" href="Despacho_2" coords="153,16,259,17,257,150,150,150" shape="poly">
    <area target="_self" alt="Juan/Cesar" title="Juan/Cesar" href="Despacho_3" coords="260,13,367,12,368,151,265,153" shape="poly">
    <area target="_self" alt="Urdaneta" title="Urdaneta" href="Despacho_4" coords="370,18,488,13,487,158,373,147" shape="poly">
    <area target="_self" alt="Eugenia" title="Eugenia" href="Recepcion" coords="374,195,478,197,482,343,375,341" shape="poly">
    <area target="_self" alt="Alfonso/Roman/Andres/Marta" title="Alfonso/Roman/Andres/Marta" href="Zona_Trabajo_Diafana" coords="185,462,17,473,10,384,42,375,38,275,184,268,186,298,238,297,234,378,186,382" shape="poly">
    <area target="_self" alt="Almacen" title="Almacen" href="Amacen" coords="188,389,369,385,371,468,191,459" shape="poly">

  </map>
  </div>
