<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">César Bouzas Soto</span>
  </a>

  <ul class="nav nav-pills">
    <li class="dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        TUNEL LANGOSTEIRA
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/langosteira/fotos">Fotos por Código de Actividad</a></li>
        <li><a class="dropdown-item" href="/langosteira/empleados">Empleados Info</a></li>
      </ul>

    </li>

    <li class="dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        REPOSITORIOS
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item"  href="/repositorio/DAM">Desarrollo Aplicaciones Multimedia</a></li>
        <li><a class="dropdown-item" href="/repositorio/DAW">Desarrollo Aplicaciones Web</a></li>
        <li><a class="dropdown-item" href="/repositorio/OWI">Cursos Open WebInnars</a></li>
        <li><a class="dropdown-item" href="/repositorio/PFGDAW">Proyecto Fin de Grado DAW</a></li>
      </ul>



    </li>
    <li class="nav-item"><a routerLink="/iot" class="nav-link">IOT</a></li>
    <li class="nav-item"><a routerLink="/zonaB" class="nav-link">ZONA B</a></li>
    <li class="nav-item"><a routerLink="/sobreMi" class="nav-link active">SOBRE MI</a></li>
  </ul>

</header>


