<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">César Bouzas Soto</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        CONSTRUCCIÓN
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/langosteira">Túnel de Langosteira</a></li>
        <!-- Agrega más elementos del submenu aquí si es necesario -->
      </ul>
    </li>
    <li class="nav-item"><a routerLink="/estudios" class="nav-link">ESTUDIOS</a></li>
    <li class="nav-item"><a routerLink="/iot" class="nav-link">IOT</a></li>
    <li class="nav-item"><a routerLink="/zonaB" class="nav-link">ZONA B</a></li>
    <li class="nav-item"><a routerLink="/sobreMi" class="nav-link active">SOBRE MI</a></li>
  </ul>

</header>


