

<div class="container">
<img src="../../../assets/images/tunel57_map.jpg" usemap="#image-map">

<map name="image-map">
    <area target="_parent" alt="111" title="111" href="111" coords="7,407,42,428" shape="rect">
    <area target="_parent" alt="112" title="112" href="112" coords="4,335,31,360" shape="rect">
    <area target="_parent" alt="100" title="100" href="100" coords="136,241,119,288" shape="rect">
    <area target="_parent" alt="211" title="211" href="211" coords="215,341,249,365" shape="rect">
    <area target="_parent" alt="212" title="212" href="212" coords="216,397,252,426" shape="rect">
    <area target="_parent" alt="121" title="121" href="121" coords="280,278,310,297" shape="rect">
    <area target="_parent" alt="122" title="122" href="122" coords="276,212,315,237" shape="rect">
    <area target="_parent" alt="200" title="200" href="200" coords="389,116,426,147" shape="rect">
    <area target="_parent" alt="221" title="221" href="221" coords="501,213,528,239" shape="rect">
    <area target="_parent" alt="222" title="222" href="222" coords="499,273,527,303" shape="rect">
    <area target="_parent" alt="131" title="131" href="131" coords="563,148,596,172" shape="rect">
    <area target="_parent" alt="132" title="132" href="132" coords="564,93,595,118" shape="rect">
    <area target="_parent" alt="300" title="300" href="300" coords="710,23,663,2" shape="rect">
    <area target="_parent" alt="231" title="231" href="231" coords="782,90,812,113" shape="rect">
    <area target="_parent" alt="232" title="232" href="232" coords="779,149,807,172" shape="rect">
</map>
</div>
