
<div>
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" [(ngModel)]="nombre">
</div>
<div>
  <label for="latitud">Latitud:</label>
  <input type="number" step="0.01"  id="latitud" [(ngModel)]="latitud">
</div>
<div>
  <label for="longitud">Longitud:</label>
  <input type="number" step="0.01" id="longitud" [(ngModel)]="longitud">
</div>
<div>
  <label for="fecha">Fecha:</label>
  <input type="date" id="fecha" [(ngModel)]="fecha">
</div>
<input type="file" (change)="cargarImagen($event)">
<div *ngIf="imagenActual">
  <img [src]="imagenActual" alt="Imagen seleccionada">
</div>

<button (click)="guardarCambios()">Guardar Cambios</button>

