<div class="container">

    <div class="container text-start">
      <img src="assets/images/foto_cesar.jpg" class="rounded-circle border border-5 border-primary img-fluid w-5 m-3"  alt="profile">
      <h1 class="d-inline-block ">César Bouzas Soto</h1>
    </div>

    <div class="container mb-5 text-center txt rounded-5 bg-primary">
      <div class="m-auto"><h3>Ingeniero Técnico en Obras Públicas</h3></div>
      <div class="m-auto"><h3>Grado en Geomática y Topografía</h3></div>
    </div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
    <div class="container inline">
      <h5 class="border-bottom border-primary">Información Personal</h5>
        <p>CUMPLEAÑOS : 4 Julio 1977</p>
        <p>WEBSITE : www.underthetable.com</p>
        <p>TELEFONO : +34667880938</p>
        <p>MAIL :cesarbouzaspaw&#64;gmail.com </p>
        <p>LOCALIZACIÓN:Oleiros,España</p>
    </div>
    </div>
    <div class="col-md-4">
    <div class=" container inline">
          <h5 class="border-bottom border-primary">Idiomas</h5>
          <p>Español :nativo</p>
          <p>Ingles : A2</p>
          <p>Portugues : A2</p>
    </div>
</div>
<div class="col-md-4">
    <div class="container inline">
          <h5 class="border-bottom border-primary">Intereses</h5>
          <p>Programacíon</p>
          <p>Arduino</p>
          <p>Cine</p>
          <p>Deportes</p>
    </div>

</div>
  </div>
</div>

<div class="container text-center">
  <button class=" btn btn-download-cv btn-primary rounded-pill m-2" (click)="dowlodaCV()">
    <img  src="assets/images/download_cv.jpg" alt="download" class="rounded-2 m-1">CESAR CV (pdf) </button>
</div>
    <div class="container">
      <h5 class="border-bottom border-primary">Acerca de mi:</h5>
      <p>A lo largo de mi trayectoria académica y profesional me he especializado en la
        Topografía, oficina Técnica y producción de grandes obras lineales, como pueden ser
        autovías , líneas de Ferrocarril pasando por grandes Túneles y viaductos.
        El desempeño profesional ha sido principalmente en obras de gran volumen gestionando
        equipos humanos tanto en el campo de la topografía como de la producción. </p>
        <div class="container text-center m-0 p-0">
      <button onclick="window.location.href='mailto:cesarbouzas@gmail.com'" class="btn btn-primary rounded-bottom">Contactame</button>
        </div>
      <br>
    <br>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h4 class="container border-bottom border-primary">RESUMEN</h4>
        </div>
        <div class="col-md-6">
          <h5 class="section-title">Educación extra</h5>
          <ul class="">
            <li class="">
              <h6 class="">2001 -Técnico Superior en Prevención de Riesgos Laborales (PRL)</h6>
              <p class="">Master , Universitario</p>
           </li>
           <li class="">
            <h6 class="">2019-2022 -Diseño de Aplicaciones Web (DAW)</h6>
            <p class="">FP Grado Superior , Fernando Wirtz</p>
         </li>
         <li class="">
          <h6 class="">2022-2024 -Diseño de Aplicaciones multiplataforma (DAM)</h6>
          <p class="">FP Grado Superior , Fernando Wirtz/p>
       </li>
       <li class="">
        <h6 class="">2020 -Bootcamp BackEnd 600 h</h6>
        <p class="">Cluster Tic Galicia , Imatia</p>
        </li>
        <li class="">
          <h6 class="">Cursos Informática</h6>
          <p class="m-0 p-0">-IA</p>
          <p class="m-0 p-0">-Angular</p>
          <p class="m-0 p-0">-TypeScript</p>
          <p class="m-0 p-0">-Node</p>
          <p class="m-0 p-0">-JavaScript</p>
          <p class="m-0 p-0">-Sql</p>
          <p class="m-0 p-0">-Arduino</p>
          <p class="m-0 p-0">-Jira</p>
          <p class="m-0 p-0">-SprintBoot</p>
        </li>
        <li class="">
          <h6 class="">Cursos ingeniria</h6>
          <p class="m-0 p-0">-Mecánica de Rocas </p>
          <p class="m-0 p-0">-Civil 3D</p>
          <p class="m-0 p-0">-Clip</p>
          <p class="m-0 p-0">-Istram</p>
          <p class="m-0 p-0">-Excel Avanzado</p>
          <p class="m-0 p-0">-Diseño y ejecucion de Obras Ferroviarias</p>
        </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h5 class="section-title">Experiencia</h5>
          <ul class="">
            <li class="">
              <h6 class="">2023-Actual -Técnico de Obra en Typsa</h6>
              <p class="m-0 p-0">-Obras de emergencia Adif. </p>
              <p class="m-0 p-0">-Remodelación de vias Tui-Guillarei.</p>
              <p class="m-0 p-0">-Sendas moviladad Santiago.</p>
            </li>
            <li class="">
              <h6 class="">2008-actual -Topógrafo autonomo por cuenta propia </h6>
              <p class="m-0 p-0">-Tramo Ave Padron Ineco </p>
              <p class="m-0 p-0">-Túnel de la Canda Revestimenieno Túnel Ute Canda</p>
              <p class="m-0 p-0">-Zonas inundables Asturias,Cantabia y Pais Vasco Eptisa </p>
              <p class="m-0 p-0">-Tunel de Rendondela Copasa-Tapusa</p>
              <p class="m-0 p-0">-Control de obras Dron</p>
              <p class="m-0 p-0">-Levantamientos topográficos </p>
              <p class="m-0 p-0">-Replanteos en general .</p>
              <p class="m-0 p-0">-Mededición de obras.</p>
              <p class="m-0 p-0">-Control de asentamientos , pruebas de carga y tpografia de alta precisión </p>
            </li>
            <li class="">
              <h6 class="">2017-2023 -Jefe de Producción Taboada y Ramos </h6>
              <p class="m-0 p-0">-Túneles de Acceso al puerto exterior de la Coruña. </p>
              <p class="m-0 p-0">-Nueva estación de Santiago de Compostela.</p>
              <p class="m-0 p-0">-Viaductos Felgueira y Falsos tuneles del Cornoº.</p>
            </li>
            <li class="">
              <h6 class="">2011-2016 -Jefe de Topografia y Oficina técnica Taboada y Ramos </h6>
              <p class="m-0 p-0">-Vía Artabra </p>
              <p class="m-0 p-0">-Tuneles del Corno .</p>
              <p class="m-0 p-0">-Autovia de Carballo.</p>
            </li>
            <li class="">
              <h6 class="">2008-2016 -Jefe de Topografia y Oficina técnica Taboada y Ramos </h6>
              <p class="m-0 p-0">-Vía Artabra </p>
              <p class="m-0 p-0">-Tuneles del Corno .</p>
              <p class="m-0 p-0">-Autovia de Carballo.</p>
            </li>
            <li class="">
              <h6 class="">2007-2008-Jefe de Topografía Túnel de redondela Ute Copasa-Tapusa </h6>
            </li>
            <li class="">
              <h6 class="">2005-2007-Jefe de Topografía y oficina Técnica Variante aguilar de Campoo Altec </h6>
            </li>
            <li class="">
              <h6 class="">2004-Técnico de obra Norcontrol Acceso Terrestre al puerto Exterior Ferrol</h6>
            </li>
            <li class="">
              <h6 class="">2002-2004-Topografo de montaje industrial Astilleros hijos de Barreras</h6>
            </li>
            <li class="">
              <h6 class="">2000-2002-Carretera Castellana-Sobrado</h6>
            </li>



          </ul>
        </div>
      </div>

    </div>
    <footer></footer>


